<div class="container-fluid d-flex flex-column" style="height:82vh;">
    <div class="d-flex" >
        <div class="p-2">
            <img [src]="content.userImage" style="height:80px;width:80px;border-radius:40px;">
        </div>
        <div class="p-2 d-flex flex-column align-items-start justify-content-center">
            <strong>{{content.userName}}</strong>
            <span  style="color:red">
              <strong>{{content.function}}</strong>
            </span>
        </div>
      </div> 
      <div class="d-flex flex-column align-items-start">
          <span style="margin-top:30px">{{content.userAddress.city}} - {{content.userAddress.state}} </span>
          <span style="margin-top:30px">{{content.userPhone}}</span>
          <span style="margin-top:30px">{{content.userBirthDate}}</span>
          <span style="margin-top:30px">{{content.userEmail}}</span>

          
      </div>
      <div class="d-flex align-items-center justify-content-center" style="margin-top:30px">
          <button class="btn" style="border:2px solid red;color:red" >
            <strong> SOLICITAR DESLIGAMENTO</strong>
          </button>
      </div>
</div>