<div class="container-fluid d-flex flex-column" style="height:82vh;">
  
  <div class="row">
      <div class="col-3  d-flex justify-content-center align-items-center" >
          <div class="hex" [ngStyle]="{'background': ' url(' + content.embassyIconImage + ') no-repeat 0 0'}" ></div>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center" >
          <h3> <strong>{{content.embassyName}}</strong>  </h3>
      </div>
      <div class="col-3  d-flex justify-content-end align-items-center"  >
        <button class="btn">
            <i class="fas fa-pencil-alt" style="color:red"></i>
        </button> 
      </div>
  </div>
  <div class="d-flex flex-column" >
      <span> <strong>Segmento</strong> </span>
      <div class="d-flex flex-row" style="margin-top:20px">
          <span style="height: 30px; background-color: red;color:white;padding:5px;font-size: 12px;text-align: center;margin-left: 10px" *ngFor="let i of content.embassySegmentTags">
              {{i}}
          </span>
      </div>
  </div>
  <div class="d-flex flex-column" style="margin-top:30px">
      <span> <strong>Embaixador</strong> </span>
      <span  style="margin-top:10px"> {{content.embassyAmbassor.name}}</span>
      <span  style="margin-top:10px">{{content.embassyAmbassor.phone}}</span>
  </div>
  <div class="d-flex flex-column" style="margin-top:30px">
      <span> <strong>Endereço</strong> </span>
      <span  style="margin-top:10px">{{content.embassyAddress.street}}, {{content.embassyAddress.number}}</span>
      <span  style="margin-top:10px">{{content.embassyAddress.district}}</span>
      <span  style="margin-top:10px">{{content.embassyAddress.city}} - {{content.embassyAddress.state}} </span>
  </div>
  <div class="d-flex flex-column" style="margin-top:30px">
      <button class="btn" style="border:2px solid red;color:red" routerLink="/App/Embassy/Members/{{content._id}}">
        <strong> VER MEMBROS</strong>
      </button>

      <button class="btn" style="background-color: red;color:white;margin-top: 20px">
          <strong>CRIAR HISTÓRICO DA REUNIÃO</strong>
      </button>
  </div>
   
</div>