<div class="container-fluid d-flex flex-column" style="height:87vh;padding: 0">
    <div class="d-flex flex-column align-items-center justify-content-center" style="margin-top:30px;height: 45vh">
      <div class="hexagon"></div>
      <h3>
        Suas Embaixadas
      </h3>
    </div>
    <div style="overflow-y:auto;margin-top:30px">
        <ul class="list-group"  >
            <li class="list-group-item" *ngFor="let i of contentList" >
                <div class="d-flex" routerLink="/App/Embassy/View/{{i._id}}">
                    <div class="p-2">
                        <div class="hex" [ngStyle]="{'background': ' url(' + i.embassyIconImage + ') no-repeat 0 0'}" ></div>
                    </div>
                    <div class="p-2 d-flex flex-column align-items-start justify-content-center">
                        <strong>{{i.embassyName}}</strong>
                        <span >
                            {{i.embassyAddress.street}}
                        </span>
                    </div>
                    
                  </div> 
            </li> 
        </ul>
    </div>
    
</div>