.hexagon {
    position: relative;
    width: 80px; 
    height: 46.19px;
    background-color: #fcb61b;
    margin: 23.09px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 23.09px solid #fcb61b;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 23.09px solid #fcb61b;
  }





  .hex{
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: url("https://i.imgur.com/waDgcnc.jpg") no-repeat;
    background-size: cover;
    margin: 10px auto;
    height: 80px;
    width: 80px;  
}
