<div class="container-fluid d-flex flex-column" style="height:87vh;padding: 0">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 30vh">
        <div class="hex" [ngStyle]="{'background': ' url(' + content.embassyIconImage + ') no-repeat 0 0'}" ></div>
        <h3>
          {{content.embassyName}}
        </h3>
      </div>
      <div style="overflow-y:auto;">
          <ul class="list-group"  >
              <li class="list-group-item"  *ngFor="let i of content.members" (click)="openIteractionMenu(i)" >
                  <div class="d-flex" >
                      <div class="p-2">
                          <img [src]="i.image" style="height:60px;width:60px;border-radius:30px; " [ngStyle]=" i.function !=  'COMMON_USER' ? {'border':'2px solid red'} : {}">
                      </div>
                      <div class="p-2 d-flex flex-column align-items-start justify-content-center">
                          <strong>{{i.name}}</strong>
                          <span  *ngIf="i.function !=  'COMMON_USER' " style="color:red">
                            <strong>{{i.function}}</strong>
                          </span>
                      </div>
                    </div> 
              </li> 
          </ul>
      </div>

</div>


  <button type="button" class="btn btn-primary" style="display:none" data-toggle="modal" data-target="#exampleModalCenter" #openButton>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" style="padding:0">
          <ul class="list-group">
              <li class="list-group-item" (click)="viewMember(member.id)" style="cursor:pointer">
                  Visualizar {{member.name}}
              </li>
              <li class="list-group-item">
                  Transferir Embaixada
              </li>
              <li class="list-group-item">
                  Tornar {{member.name}} líder auxiliar
              </li>
              <li class="list-group-item">
                  Remover {{member.name}} Kertcher
              </li>

              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display:none" #closeButton>Close</button>
          </ul> 
        </div>
      </div>
    </div>
  </div>