.hex{
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: url("https://i.imgur.com/waDgcnc.jpg") no-repeat;
    background-size: cover;
    margin: 10px auto;
    height: 80px;
    width: 80px;  
}
