.hexagon {
  position: relative;
  width: 55px; 
  height: 31.75px;
  background-color: #000223;
  margin: 15.88px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 27.5px solid transparent;
  border-right: 27.5px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 15.88px solid #000223;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 15.88px solid #000223;
}