<div class="container-fluid" style="height:100vh;padding:0">
    <div class="d-flex flex-column">
        <div class=" d-flex flex-row justify-content-between" style="height:5vh;">
            <button class="btn" style="width:40px;height:5vh" (click)="goBack()">
                <i class="fas fa-arrow-left"></i>
            </button>
            <div>
              <button class="btn" style="width:40px;height:5vh">
                <i class="fas fa-user-circle"></i>
              </button>
              <button class="btn" style="width:40px;height:5vh">
                <i class="fas fa-ellipsis-v"></i>
              </button>
            </div>
            
        </div>
        <div class="card" style="height:87vh">
            <router-outlet></router-outlet>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center" style="background-color:#232323;height:8vh">
          <button class="btn" style="width:40px;height:5vh"  routerLink='/App/Embassy' >
            <i class="fas fa-home" style="color:#fff"></i>
          </button> 
          <a>
            <div class="hexagon" style="margin-top:-20px"></div>
          </a>
          <button class="btn" style="width:40px;height:5vh">
            <i class="fas fa-search" style="color:#fff"></i>
          </button>    
        </div>
    </div>
</div>